body{
  font-family: 'Abril Fatface', cursive;
    text-align: center;
background: radial-gradient(rgb(189, 93, 38),white);
}
button,
div,
form,
input {
  margin: 10px;
}
.jumbotron {
  background: radial-gradient(rgb(189, 93, 38),white);
}